@font-face {
    font-family: Sevillana-Regular;
    src: url(./fonts/Sevillana-Regular.ttf);
}

:root {
    --margin-color: rgb(96, 153, 192);
    --container-color: rgb(241, 245, 223);
    --form-color: rgb(244, 244, 199); 
    --logo-color: aliceblue;
    --credits-color: rgb(139, 139, 88)
    /* --margin-color: rgb(96, 153, 192); */
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--margin-color);
    height: 100%;
    font-family: palatino, sans-serif, "Poppins";
    font-size: 0.8rem;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--credits-color);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.logo-container {
    position: absolute;
    width: calc(100% - 7.5rem);
    height: 6rem;
    top: 2.5rem;
    left: 3.75rem;
}

.logo-container .logo {
    position: relative;
    font-family: Sevillana-Regular, sans-serif;
    font-size: 5rem;
    z-index: 3;
    color: var(--logo-color);
    left: calc(100% / 10);
    text-shadow: 1px 1px 1px rgb(113, 99, 99);
    letter-spacing: 0.1rem;
}

.container {
    display: flex;
    height: 100%;
    padding: 0 60px;
}

.img-container {
    flex: 1 0;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    opacity: 0.9;
    display: block;
    position: relative;
    background-color: var(--margin-color);
    background-blend-mode: multiply;
}


.container .section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-image: linear-gradient(180deg, var(--container-color), rgb(227, 235, 190));
    z-index: 2;
}

.container .section h2 {
    padding-left: 30px; 
    padding-right: 60px; 
    z-index: 2;
    font-weight: lighter;
    line-height: 1.6 !important;
    text-align: left;
    max-width: 60ch;
    margin-top: 10px;
}

.container .section > img {
    width: 130px;
    display: block;
    position: relative;
    margin-left: calc(100% - 150px);
    max-inline-size: 100%;
    opacity: 0.9;
}

.two-column-form {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 25px;
}

.form-section {
    background-color: var(--form-color) ;
    margin-top: 25px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
    z-index: 1;
}

.form-section > h2 {
    margin: 20px 0 15px 0px;
}


input {
    display:inline-block;
    padding: 6px 10px;
    margin: 0 30px;
    margin-bottom: 15px;
    font: sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

.label {
    margin: 0 30px;
    font-size: 0.8rem;
    font-weight: 200px;
    font-family: open-sans;
}

input:focus {
    border-color: #141313;
}

input:hover {
    background-color: rgb(249, 240, 247);
}

.section-bottom {
    background-image: url(./Images/sheri-silver-5A0O12BIsjY-unsplash.jpg);
    height: 100%;
    background-size: cover;
    background-position: 60% 40%;
    background-color: var(--container-color);
    background-blend-mode: multiply;
}

.section-bottom button {
    width: 170px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: pink;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

button:hover,
button:focus {
    background: rgb(250, 180, 192);
}

.section-bottom p:first-of-type {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1rem;
}

.section-bottom p:first-of-type > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(237, 242, 112);
    text-shadow: -1px -1px #1c1b1c, -1px 1px #201e20, 1px -1px #0e0d0e, 1px 1px #100f10
}

.section-bottom p:first-of-type > a:hover {
    color: rgb(210, 215, 58);
}


.section-bottom > p:first-of-type + p{
    float: right;
    bottom: 1%;
    margin-right: 20px;;
    color: var(--credits-color);
}

.img-container p {
    position: relative;
    bottom: 3.5%;
    text-align: center;
    color: var(--credits-color);
}

